<div class="section_list">
  <div class="section_container">
    <%= render partial: 'sections/section', collection: assessment.sections, locals: {display_embed_code: display_embed_code} %>
  </div>
</div>