<li><%= link_to assessment.title, assessment_path(assessment.id) %> 
  <span class="action_links">
    <%= link_to '<i class="icon-bar-chart"></i>'.html_safe, results_assessment_path(assessment.id) %>
    <%= link_to '<i class="icon-trash"></i>'.html_safe, assessment_path(assessment.id), :method => :delete %>
  </span>
</li>