<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">

      <h1 class="row-fluid">Your Assessments</h1>

      <div class="assessment_list well row-fluid">
        <ul>
          <%= render :collection => @assessments, :partial => 'assessments/list_item', :as => :assessment %>
        </ul>
        <%= link_to "<i class='icon-plus'></i> Create an Assessment".html_safe, new_assessment_path, :class => 'nav_link'  %>
      </div>

    </div>
  </div>

</div>