<div id="assessments" class="workspace row-fluid">

  <div class="span8 offset2">
    <h1>Create Assessment</h1>
    
    <% unless flash[:notice].blank? %>
      <div class="row-fluid span12">
        <div id="notification_notice"><%= flash[:error] %></div>
      </div>
    <% end %>

    <div class="well span12">
      <div class="row-fluid">
        <%= form_for :assessment, :url => assessments_path, :html => { :id => "new-assessment-form", :name => 'new-assessment-form', :class => 'form-horizontal' } do |f| -%>

          <div class="control-group">
            <div class="controls">
              <span>QTI Formatted xml file</span>
              <div id="xml_file_option">
                <%= f.file_field :xml_file, { :name => 'assessment[xml_file]' } %>
              </div>
            </div>
          </div>

          <div class="button">
            <%= f.submit 'Create' %>
          </div>
        <% end -%>
      </div>
    </div>

  </div>

</div>
