<% if @display_embed_code %>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">
<% end %>

      <h1 class="row-fluid"><%= link_to 'Assessments', user_assessments_path(current_user.id) if current_user && @display_embed_code %> <%= '&gt;'.html_safe if current_user && @display_embed_code %>
            <%= @assessment.title %></h1>

      <div class="assessment">
        <%= render partial: 'assessments/assessment', locals: {assessment: @assessment, display_embed_code: @display_embed_code, display_nav: true} %>
      </div>
<% if @display_embed_code %>
    </div>
  </div>
</div>
<% end %>