<div class="assessment">
  <%#= link_to "Sections", assessment_sections_path(@assessment) %>
  <%= render partial: 'assessments/assessment', locals: {assessment: @assessment, display_embed_code: false, display_nav: true} %>
</div>