
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">

      <h1 class="row-fluid"><%= link_to 'Assessments', user_assessments_path(current_user.id) if current_user %> &gt;
            <%= @assessment.title %></h1>

      <div class="assessment">
        <%= render partial: 'assessments/assessment', locals: {assessment: @assessment, display_embed_code: true, display_nav: true} %>
      </div>
    </div>
  </div>
</div>
