<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @name %>,</h1>
    <p>
      Thank you for contacting Open Assessments.  We will be contacting you shortly.<br>
    </p>
    <p>
      Visit us any time to create and manage your assessments: <%= @url %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>