<div style="padding: 50px; font-size: 24px;">
  Funded by our friends at MIT, built by the power of Open Tapestry, and dreamed up by a team of skilled programmers and educators, Open Assessments has come to life in an effort to increase the quality of education by  utilizing the unlimited resources of the web.  
</div>
<div style="padding-top: 10px; padding-left: 50px; padding-right: 50px; font-size: 24px;">
  Open Assessments was founded because we believe the impact of online learning is
  only beginning to be realized. Passionate  instructors hunger for more dynamic
  ways of teaching in order to help students to learn.  Open Assessments, in conjunction  with  Open Tapestry, opens the door for friends to share and communities to learn.
</div>