<div class="contact_box">
  <p class="contact_text">CONTACT</p>
  <div class="boxes">
    <div class="contact_bar">
      <p class="text name">NAME</p>
    </div>
    <div class="contact_bar">
      <p class="text email">E-MAIL</p>
    </div>
    <div class="contact_bar">
      <p class="text subject">SUBJECT</p>
    </div>
    <div class="message_box">
      <p class="text message">MESSAGE</p>
    </div>
    <p class="send_text">SEND</p>
  </div>
</div>