<% content_for :logo_overlay do -%>
  home
<% end -%>

<div class='index_content'>
	<div class="jumbotron">
		<p>POP THE QUESTION ANYWHERE
		<p style="color:white;">CREATE AND SHARE “QUESTIONS” SIMPLY.</p>
		<p style="color:white;">EASILY EMBED ASSESSMENTS ON ANY PAGE ON ANY WEBSITE.</p><br/>
		<span class="demo_text"><a href="http://ot.loom.opentapestry.com/items/iMx19U_RTJW-tSBKIJuuRg?d=www.opentapestry.com">DEMO ></a></span></p>
	</div>

	<div class="quote">
		<%= image_tag 'quote_bubble.png', :class => 'quote_bubble' %>
	</div>
</div>