<style type="text/css">
body{
  background: url(<%=image_path('background.jpg')%>) no-repeat;
  background-size: 100% auto;
}
</style>
<div class="jumbotron">
  POP THE QUESTION ANYWHERE
MAKE, CREATE AND SHARE
“QUESTIONS” SIMPLY. EASILY
EMBED ASSESSMENTS ON ANY
PAGE ON ANY WEBSITE.
DEMO >
</div>