<% content_for :logo_overlay do -%>
  home
<% end -%>

<div class='index_content'>
	<div class="jumbotron">
		<p>POP THE QUESTION ANYWHERE</p>
		<p style="color:white;">PLAN, CREATE AND SHARE QUESTIONS SIMPLY. EASILY EMBED ASSESSMENTS ON ANY PAGE ON ANY WEBSITE.</p>
		<%- if @comparing_fractions %>
		<p><span class="demo_text"><%= link_to 'ASSESSMENTS >', assessment_path(@comparing_fractions) %></span></p>
		<%- end %>
	</div>

	<div class="quote">
		<%= image_tag 'quote_bubble.png', :class => 'quote_bubble' %>
	</div>
	<div class='push'></div>
</div>
