<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/global/head' %>
  <%= stylesheet_link_tag "bare", media: "all" %>
</head>
<body>
  <%= javascript_include_tag "assessment/application" %>
</body>
</html>