<div class="container-fluid">
  <h1 class="row-fluid">Your Assessments</h1>

  <div class="assessment_list row-fluid">
    <ul>
      <%= render :collection => @assessments, :partial => 'assessments/list_item' %>
    </ul>
  </div>

  <div class="row-fluid">
    <%= link_to "Create an Assessment", new_assessment_path, :class => 'btn btn-nav-item' %>
  </div>

  <div class="api_token row-fluid">
    <span class="label">Api Token:</span>
    <%= current_user.authentication_token %>
    <%= link_to "reset", reset_authentication_token_user_path(current_user) %>
  </div>

</div>


