<div class="item_list">
    <div class="item_container">
      <%= render partial: 'items/item', collection: section.items, locals: {display_embed_code: display_embed_code, display_nav: display_nav} %>
    </div>
</div>