<div class="results_container">
  <% if @summary -%>
    <%= render :partial => 'item_results/summary', :locals => {:item => @item} %>
  <% else -%>
    <%= render :partial => 'item_results/raw', :locals => {:item => @item} %>
  <% end -%>
</div>