<div class="panel-messages-container panel panel-default">
  <div class="panel-heading text-center">
    {{{title}}}
    {{#if messages.length}}
      <div class="panel-messages alert alert-danger" role="alert">
        {{#each message in messages}}
          {{message}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="panel-body">
    {{{question}}}
  </div>
  <div class="panel-footer text-center">
    {{#if content.isGraded}}
      <div class="solution">
        {{{solution}}}
      </div>
    {{/if}}
  </div>
</div>