<div class="panel panel-default">
  {{#if content.question}}
    <div class="panel-heading text-center">
      {{{content.question}}}
    </div>
  {{/if}}
  <div class="panel-body text-center">
    {{#each content.images}}
      <img {{bind-attr src="src" alt="title" class=":dropzone"}}>
    {{/each}}
  </div>
  <div class="panel-footer text-center">
    {{#each content.draggables}}
      <div class="label label-default draggable">
        <label>{{label}}</label>
      </div>
    {{/each}}
  </div>
</div>