{{#each content itemController=itemController}}
  <div class="btn btn-block btn-question">
    <label class="radio">
      {{oea-radio-button value=content name=view.name selection=view.value}}
      {{{content}}}
    </label>
  </div>
{{/each}}
