<div class="question">
  <div class="header">
    <span class="counter">1 of 3</span>
    <p>Question 1</p>
  </div>
  {{outlet}}
  <div class="nav_buttons">
    <span class="btn btn-prev-item disabled" data-item-id="">Previous</span>
    <span class="btn btn-next-item " data-item-id="33"><a href="/assessments/7?embed=true&amp;item=33">Next</a></span>
  </div>
</div>