<form {{action check_answer on="submit"}} class="edit_item">
  <div class="full_question">
    <div class="inner_question">
      <div class="question_text">
        <div><p>It is better that students don’t understand why they are doing a task in order to increase learning and engagement.</p></div>
      </div>

      <div data-toggle="answers">

        <div class="btn btn-block btn-question">
          <label class="radio">
            <span class="icon"></span>
            <span class="icon-to-fade"></span>
            <div class="icon"></div>
            <div class="icon-to-fade"></div>
            <input id="item_id_1263" name="32" type="radio" value="1263">
            True
          </label>
        </div>

        <div class="btn btn-block btn-question">
          <label class="radio">
            <span class="icon"></span>
            <span class="icon-to-fade"></span>
            <div class="icon"></div>
            <div class="icon-to-fade"></div>
            <input id="item_id_4549" name="32" type="radio" value="4549">
            False
          </label>
        </div>

      </div>
    </div>

    <div class="check_answer_result"></div>

    <div class="lower_level">
      <button class="btn btn-check-answer disabled" type="submit">Check Answer</button>
    </div>
  </div>
</form>