<div class="btn btn-block btn-question">
  <label class="radio">
  		<div class="icon"></div><div class="icon-to-fade"></div>
    <%= f.radio_button :id, answer.id, :name => item.id, :checked => (selected_answer_id == answer.id) %>
    <!-- <input type="radio" name="<%#= item.id %>" value="<%#= answer.id %>"> -->
      <%= answer.text %>
      <%#= answer.text %>
  </label>
</div>
