<div class="answer_text">
  <label>
    <div class="radio_control">
      <%= f.radio_button :id, answer.id, :name => item.id, :checked => (selected_answer_id == answer.id) %>
      <!-- <input type="radio" name="<%#= item.id %>" value="<%#= answer.id %>"> -->
    </div>
    <div class="radio_label">
      <%= f.label :id, answer.text %>
      <%#= answer.text %>
    </div>
  </label>
</div>
