<div class="btn-question">
  <label>
    <div class="radio_control">
      <input type="radio" name="<%= item.id %>" value="<%= answer.id %>">
    </div>
    <div class="radio_label">
      <%= answer.text %>
    </div>
  </label>
</div>
