<div class="question">
  <div class="header">
    <p>Test Yourself</p>
  </div>
  <div class="full_question">
    <div class="inner_question">
      <div class="question_text">
        <%= item.question_text %>
      </div>
      <div class="answers">
        <%= render partial: 'answer', collection: item.answers, locals: {item: item} %>
      </div>
    </div>
  </div>
</div>
<% if display_embed_code -%>
<div class="embed_code">
  <%= CGI.unescapeHTML("<iframe src='#{request.protocol}#{request.host_with_port}#{item_path(item.id)}' frameborder='0' width='300' height='300' ></iframe>") %>
</div>
<% end -%>
