<div class="btn btn-block btn-question">
  <label class="short_answer">
    <input class='span4 short_answer_input' type="text" name="<%= item.id %>" value='<%= user_response %>'></input>
  </label>
</div>
