<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2">

      <h1 class="row-fluid"><%= link_to 'Assessments', user_assessments_path(current_user.id) %> &gt;
        <%= link_to @assessment.title, assessment_path(@assessment) %>  &gt; Results</h1>

      <div class="well row-fluid">
        <h2>Assessment Results<h2>
        <table class="table">
          <thead>
            <tr>
              <th>Number of Times Displayed</th>
              <td><%= @assessment.assessment_results.count %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Number of Unique Users</th>
              <td><%#= @assessment.users.count %></td>
            </tr>
            <tr>
              <th>Number of Submissions</th>
              <td><%#= @assessment.submissions.count %></td>
            </tr>
            <tr>
              <th>Average Score</th>
              <td><%#= @assessment.submissions.avg_score %></td>
            </tr>
            <tr>
              <th>Average Time Spent Completing Assessment</th>
              <td><%#= @assessment.submissions.avg_score %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="well row-fluid">
        <h2>Item Results<h2>
          <table class="table" id='item_results'>
            <thead>
            <tr>
              <th>
              Item
            </th>
              <th>
                # Renders
              </th>
              <th>
                # Submitted
              </th>
              <th>
                % Correct%
              </th>
              <th>
                # Of Referers
              </th>
              <th>
                # Of Users
              </th>
              <th>
                CSV
              </th>
              </tr>
            </thead>
          <tbody>
        <%= render :collection => @assessment.items, :partial => 'item_results/summary', as: :item, locals:{ assessment: @assessment }  %>
                  </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
