// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Styles for the website
.item_list{
	width: 500px;
	margin: 0 auto;
}
.item_container{
	margin:20px;
}
.lower_level{
  padding:0 20px;
  height:55px;
}
.right_buttons{
  float:right;
  padding:0 20px 20px 0;
  .stats_button{
    padding:6px 8px;
  }
  .stats_word{
    padding:5px 3px;
    color:#999;
  }
  .embed_button{
    padding:5px 4px 8px 4px;
  }
  .embed_word{
    padding:5px 3px;
    color:#999;
  }
  p{
    display:inline;
  }
}
.embed_code{
  background-color:$background-gray;
  margin-top:-15px;
  display:none;
  textarea{
    margin:3.5%;
    width:90%;
  }
  textarea:focus{
    border-color:$light-blue;
  }
}
.check_answer_result{
  margin:-5px 23px 18px 20px;
}
.btn-block{
  margin-bottom: 5px; // HACK. ember adds tags that prevent the default margin from flat-ui being added to the btn-block
}
.tooltip-inner{
  margin:0;
  padding:10px 0;
  max-width:100%;
  width:100%;
  font-size:22px;
  text-align:left;
  display:none;
}
.correct{
  //background:transparent image-url("flat-ui/todo/done.png") 10px center no-repeat;
  background-color:$background-green;
  color:$dark-green;
  border:2px solid $dark-green;
}
.incorrect{
  //background:transparent image-url("flat-ui/todo/done.png") 10px center no-repeat;
  background-color:$background-red;
  color:$red;
  border:2px solid $red;
}
.result_words{
  padding-left:40px;
}


//Styles for displaying a single item
body{
	margin:0;
	padding:0;
  background: transparent;
}
.question {
	width: 100%;
	margin: 0px auto;
  padding-bottom: 20px;
}
.header {
	margin: 0px auto;
  border: none;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #FFF;
  font-weight: 900;
  background: $blue;
  font: 21px "Lato", sans-serif;
  p{
  	margin:0;
  	padding: 10px 0px 10px 20px;
  }
  .counter{
    float: right;
    padding: 10px 35px 10px 20px;
  }
}
.full_question{
	background-color:$background-gray;
}
.inner_question{
	padding:20px;
}
.question_text{
	padding: 0 0 14px 4px;
}

.btn.btn-question{
  background:#FFF;
  color:#000;
  text-align:left;
  padding:0;
  .radio{
    padding:8px 0 8px 28px;
    margin: 0;
  }
  .radio:hover{
    color:#000;
    cursor: pointer;
    cursor: hand;
  }
}

.btn.btn-question:hover, .btn.btn-question:focus {
  background-color: $light-blue;
  color:#000;
}
.btn.btn-check-answer, .btn.btn-nav-item{
  padding: 8px 15px !important;
}
.btn.btn-info {
  background-color: $blue !important;
}
.btn.btn-info:hover, btn-question:focus {
  background-color: $light-blue !important;
}

.nav_buttons{
  float: right;
  margin: -50px 20px 0 0;
  .btn{
    background-color: $blue !important;
    color: $white;
    width: 100px;
  }
}
