// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Styles for the website
.item_list{
	width: 500px;
	margin: 0 auto;
}
.item_container{
	margin:20px;
}



//Styles for displaying a single item
body{
	margin:0;
	padding:0;
}
.question {
	width: 100%;
	margin: 0px auto;
}
.header {
	margin: 0px auto;
  border: none;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #FFF;
  font-weight: 900;
  background: $blue;
  font: 21px "Lato", sans-serif;
  p{
  	margin:0;
  	padding: 10px 0px 10px 20px;
  } 
}
.full_question{
	background-color:#edf0f2;
}
.inner_question{
	padding:20px;
}
.question_text{
	padding: 0 0 14px 4px;
}

.btn.btn-question{
  background:#FFF;
  color:#000;
  text-align:left;
}

.btn.btn-question:hover, .btn.btn-question:focus {
  background-color: $blueLight;
  color:#000;
}

.btn.btn-info {
  background-color: $blue !important;
  width: 150px !important;
}
.btn.btn-info:hover, btn-question:focus {
  background-color: #1983ac !important;
}
