@import 'defines';
@import 'twitter/bootstrap-no-sprites';
@import 'twitter/bootstrap/responsive';
@import 'font-awesome';
@import 'flat-ui';
@import 'items';
@import 'devise';

body{
  padding-top: 30px;
  font-family: 'News Cycle', serif;
}
.navbar{
  line-height:42px;
  -moz-box-shadow: 2px 2px 1px #888;
  -webkit-box-shadow: 2px 2px 1px #888;
  box-shadow: 1px 1px 1px #888;
  min-width:875px;
}
.navbar-inverse .navbar-inner {
  background: $almost_black;
}
#logo{
  text-indent: -9999px;
  width:155px;
  background:transparent url(image-path("logo.png")) 10px center no-repeat;
  margin-left:10px;
}

.index_content{
  width:850px;
  margin:0 auto;
  .jumbotron{
    margin-top:200px;
    margin-right:50px;
    width:550px;
    font-size:40px;
    font-weight:bold;
    float:left;
    display:inline;
    .demo_text{
      font-size:24px;
    }
  }
  .quote_bubble{
    float:left;
    width:235px;
    height:211px;
    display:inline;
    margin-top:260px;
  }
}

footer{
  padding-left: 35px;
  bottom:10px;
  position:absolute;
  background-color:transparent;
  font-family: 'Merriweather', serif;
  color:#A6F2FF !important;
}

footer p{
  float: left;
  color: rgb(166,242,255);
}

footer p img{
  width: auto;
  height: 55px;
}

.nav{
  height:73px;
  li{
    line-height:inherit;
  }
}

.active{
  background: transparent url(image-path("selected_tab.png")) center no-repeat;
  height:100%;
}

.active a{
  color: rgb(255,153,0) !important;
}
.nav a:hover{
  color: rgb(255,153,0) !important;
}