// --------------------------------------------------------------------------------
// OEA Original colors
// --------------------------------------------------------------------------------
$blue:            #0076a3;
$light_blue:       #99c8da;
$lighter_blue:    #1983ac;
$white:					  #fff;
$background-gray:	#edf0f2;
$background-green:#d1f1eb;
$dark-green: 		  #1abc9c;
$background-red:  #f7c9c4;
$red:							#E74C3C;