// --------------------------------------------------------------------------------
// OEA Original colors
// --------------------------------------------------------------------------------
$blue:            #3299BB;
$light_blue:      #88D4E1;
$lighter_blue:    #D6EBF1;
$white:					  #fff;
$background-gray:	#E9E9E9;
$background-green:#d1f1eb;
$dark-green: 		  #1abc9c;
$background-red:  #f7c9c4;
$red:							#E74C3C;


// Colors
$almost_black:      #424242;
$firm:      #1abc9c;

$gray:      #BCBCBC;
$lightgray: #E9E9E9;
$inverse:   #fff;

// Kate Colors
$dark-orange:     rgb(25,153,0);
$orange:          rgb(255,153,0);
$light-orange:    rgb(255,173,51);



//Fonts
// -------------------------
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);