<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/global/head' %>
  <%= stylesheet_link_tag "bare", media: "all" %>
</head>
<body>
  <%= render 'layouts/global/messages' %>
  <%= yield %>
</body>
</html>
